* {
  margin: 0; padding: 0; box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem; font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: #1e1e1e;
  color: #fafafa;
  width: 100%;
}

nav .mobile {
  display: none;
}

nav .logo {
  min-width: 25rem;
}

nav a {
  color: #fafafa;
  text-decoration: none;
  display: block;
  padding: 2rem 2.5rem;
}

nav a:hover {
  color: #1e1e1e;
  background-color: rgba(0, 195, 255, 0.8);
}

nav .desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

nav .desktop .primary-links, 
nav .desktop .secondary-links {
  display: flex;
}

.secondary {
  display: none;
}

nav .desktop .submenu {
  display: none;
}


/* ============ Mediaquerys 768px ============= */

@media screen and (max-width: 768px){
  nav .logo {
    min-width: 12rem;
  }

  nav .desktop .secondary-links {
    display: none;
  }

  nav .desktop .secondary {
    display: block;
  }

  nav .desktop .secondary .mini:hover .submenu {
    display: block;
    background: #1a1a1a;
    color: #fafafa;
  }

.secondary {
    display: block;
  }

}


/* ============ Mediaquerys 480px ============= */
@media screen and (max-width: 480px){
  nav .logo {
    display: none;
  }
  nav a {
    font-size: 1.4rem;
    padding: 1.5rem 2rem;
  }

 
}


/* ============ Mediaquerys 414px ============= */
@media screen and (max-width: 414px){
  nav a {
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
  }
}