* {
  margin: 0; padding: 0; box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem; font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: #1e1e1e;
  color: #fafafa;
  width: 100%;
}

nav .mobile {
  display: none;
}

nav .mobile .header {
  display: flex;
  justify-content: space-between;
}

nav .logo {
  min-width: 20rem;
}

nav a {
  color: #fafafa;
  text-decoration: none;
  display: block;
  padding: 2rem 2.5rem;
}

nav a:hover {
  color: #1e1e1e;
  background-color: #00c3ffcc;
  border-radius: 1.2rem;
}

nav .desktop {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2rem;
}

nav .desktop .primary, 
nav .desktop .secondary {
  display: flex;
}

nav .desktop .secondary.mini {
  display: none;
}

nav .desktop .submenu {}


/* ============ Mediaquerys 768px ============= */

@media screen and (max-width: 768px){
  nav .logo {
    width: 13rem;
  }
  
  nav .secondary.full {
    display: none;
  }
  nav .secondary.mini {
    display: block;
  }
  nav .secondary.mini .submenu {
    background-color: #1e1e1e;
    position: absolute;
    display: none;
    width: 18rem;
    right: 0;
    text-align: center;
  }
  nav .secondary.mini:hover .submenu {
    display: block;
  }
}


/* ============ Mediaquerys 480px ============= */
@media screen and (max-width: 480px){
  nav .logo {
    display: none !important;
  }
  nav a {
    font-size: 1.2rem;
  }
  
}


/* ============ Mediaquerys 414px ============= */
@media screen and (max-width: 414px){
  nav .desktop{
    display: none;
  }
  nav .mobile {
    display: block;
  }
  nav a {
    padding: 1.5rem 1.5rem;
  }

  nav .mobile .header .txt-logo h3 {
    padding-top: 0.5rem;
  }
  
  nav .mobile .header .more button {
    border: none;
    cursor: pointer;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    color: #1e1e1e;
    background-color: #00c3ffcc;
  }


  nav .mobile .header .txt-logo h3 span {
    color: #00c3ff;
  }
 
}